body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

/*h1, h2, h3, h4, h5, h6 {
    font-size:100%;
    font-weight:normal;
}*/
q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

/* app css stylesheet */
.prenext {
  text-align: right;
}

.cat {
  padding: 0px;
  color: #000;
  font-weight: 500;
  background-color: #fff;
  -moz-box-shadow: 2px 2px 8px #888;
  -webkit-box-shadow: 2px 2px 8px #888;
  box-shadow: 2px 2px 8px #888;
  border-top: 8px #CC3300 solid;
}
.cat a {
  width: 100%;
  display: block;
}
.cat > ul {
  padding: 20px;
}
.cat > ul > li {
  width: 100%;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #000;
}
.cat > ul > li:before {
  content: "l";
  float: left;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 30px;
  font-family: SOSA;
}
.cat ul ul li {
  width: 100%;
  padding-left: 25px;
  float: none;
  font-size: 14px;
  line-height: 26px;
}
.cat ul ul li:hover {
  color: #CC3300;
  font-weight: 600;
  background-color: #eee;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.cat li {
  line-height: 20px;
  font-weight: normal;
}

.model {
  font-weight: 600;
}

ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span {
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

.show_product {
  clear: both;
  width: 100%;
}

.sort_p, .search_p {
  float: left;
  padding-right: 20px;
}
.sort_p .form-control, .search_p .form-control {
  display: inline;
  width: 120px;
}

.search-p-btn {
  width: 200px;
  margin-left: 10px;
  height: 30px;
  border: none;
  padding-left: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 2px solid #CC3300;
}

.products .Grid .block {
  border: 1px #ccc solid;
  background-color: #CC3300;
  padding-top: 10px;
  margin-bottom: 30px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0;
  border-radius: 0 0 10px 10px;
}
.products .Grid .block img {
  width: 100%;
}
.products .Grid .block p {
  margin-bottom: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.products .Grid .block p.model {
  color: #CC3300;
}
.products .Grid .block .title {
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  border-top: 1px #ccc solid;
  background-color: #fff;
  padding: 10px;
  text-overflow: ellipsis;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0;
  border-radius: 0 0 10px 10px;
}
.products .Grid .block .list {
  display: none;
  width: 100%;
  float: left;
}
.products .block-wrap:hover {
  border-bottom: #fff 20px solid;
}
.products .block-wrap:hover .block {
  border: 1px #CC3300 solid;
  margin-top: -20px;
  -moz-box-shadow: 6px 2px 15px #777;
  -webkit-box-shadow: 6px 2px 15px #777;
  box-shadow: 6px 2px 15px #777;
}
.products .block-wrap:hover .block .title {
  background-color: #f7e1ce;
}
.products .block-wrap:hover .block p.brand {
  color: #000;
}
.products .dvr-list {
  /*
  th.glyphicon-chevron-up, th.glyphicon-chevron-down{
      background-color: lighten($color1, 7%);
      border-bottom: 5px solid $color1;
  }
  */
}
.products .dvr-list .table {
  width: 100%;
  table-layout: fixed;
}
.products .dvr-list .table .row-snippet {
  width: 30%;
}
.products .dvr-list .table .row-img {
  width: 150px;
}
.products .dvr-list .table i {
  cursor: pointer;
}
.products .dvr-list .table td {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .products .dvr-list .table {
    overflow-x: auto;
    display: block;
  }
}
.products .dvr-list img {
  max-width: 150px;
}
.products .dvr-list th {
  text-align: center;
  background-color: #CC3300;
  color: #fff;
  line-height: 25px;
  height: 50px;
  border-bottom: 5px solid #ccc;
  vertical-align: center;
}
.products .dvr-list tbody td:first-child, .products .dvr-list tbody tr:hover td:first-child {
  background-color: #fff;
}
.products .dvr-list tbody tr:hover td {
  background-color: #f7e1ce;
  color: #000;
}
.products .dvr-list .highlight {
  background-color: #f7e1ce;
  border-bottom: 5px solid #C70000;
}
.products .dvr-list .list-img {
  text-align: center;
}
.products .dvr-list .list-img-td, .products .dvr-list .list-img-td > * {
  padding: 0;
  vertical-align: middle;
}

.bubble {
  position: absolute;
  color: #fff;
  text-align: center;
  font-family: Ubuntu, Helvetica, Tahoma, Arial, sans-serif;
  font-size: 16px;
  z-index: 999;
  width: 100px;
  height: 40px;
  line-height: 40px;
  padding: 0px;
  left: -50px;
  top: -40px;
  background: #FF9E00;
  -webkit-border-radius: 59px;
  -moz-border-radius: 59px;
  border-radius: 59px;
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 10px 0;
  border-color: #FF9E00 transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -10px;
  left: 60px;
}

ul.app-view {
  display: inline-block;
  width: 100px;
}
ul.app-view li {
  display: inline-block;
  width: 40px;
  margin-left: 5px;
  position: relative;
}
ul.app-view li .bubble {
  display: none;
}
ul.app-view li:hover > .bubble {
  display: block;
}

@font-face {
  font-family: SOSA;
  src: url("../fonts/sosa-regular-webfont.eot");
  src: url("../fonts/sosa-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sosa-regular-webfont.woff") format("woff"), url("../fonts/sosa-regular-webfont.ttf") format("truetype"), url("../fonts/sosa-regular-webfont.svg") format("svg");
}
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  color: #000;
  font-size: 18px;
}

body, p {
  font-family: Ubuntu, Helvetica, Tahoma, Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  line-height: 2.5rem;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin-bottom: 20px;
  color: #666;
}

b {
  color: #333;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img_wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: auto;
  background: url(/images/ajax-loader.gif) center center no-repeat #fff;
}

.ellipsis {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

h1 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  margin: 10px 20px;
  color: #000;
}

h2, h3, h4, h5, h6 {
  color: #000;
}

html {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}

.app-view {
  float: right;
}

.search_product {
  margin-bottom: 20px;
}

.btn-list {
  line-height: 40px;
  height: 40px;
  width: 20px;
  cursor: pointer;
  font-size: 20px;
  text-align: right;
  background-color: #fefefe;
}

.btn-list:hover {
  color: #CC3300;
}

.breadcrumb {
  -moz-box-shadow: #e9e9e9 0 0 30px 1px inset;
  -webkit-box-shadow: #e9e9e9 0 0 30px 1px inset;
  box-shadow: #e9e9e9 0 0 30px 1px inset;
}
.breadcrumb a {
  color: #000;
}
.breadcrumb a:hover {
  font-weight: 600;
}

.bar-title {
  color: #000;
  -moz-box-shadow: 2px 2px 8px #888;
  -webkit-box-shadow: 2px 2px 8px #888;
  box-shadow: 2px 2px 8px #888;
  border-top: 8px #CC3300 solid;
}

.note {
  line-height: 20px;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
  .container {
    width: 100%;
    padding: 0 5px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1439px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
  border: none;
  margin: 0;
  padding: 0 5px;
}

#article {
  padding-bottom: 80px;
  padding-top: 120px;
  max-width: 1200px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  #article {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1439px) {
  #article {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #article {
    width: 100%;
    padding: 60px 5px 80px 5px;
    padding-top: 60px;
  }
}

img.responsive {
  max-width: 100%;
}

.mail {
  color: #db3615;
}

.text_logo {
  font-family: 'Rajdhani', sans-serif;
  font-size: 24px;
  line-height: 50px;
  color: #000;
}

.fa {
  display: inline;
}

.clear {
  width: 100%;
  clear: both;
}

a {
  color: #555;
  cursor: pointer;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #C70000;
  text-decoration: none;
}

.gly {
  font-family: "Ubuntu", Helvetica, Tahoma, Arial, sans-serif;
  font-weight: 600;
  font-size: 46px;
  line-height: 46px;
  cursor: pointer;
  text-align: center;
}
.gly ul li {
  width: 40%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  zoom: 1;
  *display: inline;
  height: 46px;
}
.gly ul > li > a {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .page-header small {
    display: none;
  }
}

.gly-center {
  width: 150px;
  margin: 20px auto;
  padding: 0;
}

.list1 {
  color: #222;
  margin-top: 5px;
}

.list2 {
  color: #ffb500;
}

.list2:after {
  content: "\00a0\00a0";
}

.summary {
  padding: 20px 50px 40px;
}

.fix-width {
  -moz-box-shadow: 0px 3px 5px #999;
  -webkit-box-shadow: 0px 3px 5px #999;
  box-shadow: 0px 3px 5px #999;
  width: 1000px;
  padding-top: 0px;
  margin: 0 auto;
}
@media only screen and (min-width: 992px) and (max-width: 1439px) {
  .fix-width {
    width: 850px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  .fix-width {
    width: 700px;
  }
}
@media only screen and (max-width: 767px) {
  .fix-width {
    width: 100%;
  }
}

.ren {
  background: #ffffe9;
}

.t-title {
  position: relative;
  height: 70px;
}

.rectangle {
  position: absolute;
  background: #7f9db9;
  height: 70px;
  width: 1030px;
  left: -15px;
  top: 0px;
  float: left;
  -moz-box-shadow: 0px 5px 4px #666;
  -webkit-box-shadow: 0px 5px 4px #666;
  box-shadow: 0px 5px 4px #666;
  z-index: 100;
  /* the stack order: foreground */
  display: inline-block;
  /*ie7*/
  behavior: url(../pie-1.0.0/PIE.htc);
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  .rectangle {
    width: 730px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1439px) {
  .rectangle {
    width: 880px;
  }
}

.triangle-l {
  position: absolute;
  border-color: transparent #596e01 transparent transparent;
  border-style: solid;
  border-width: 15px;
  height: 0px;
  width: 0px;
  left: -30px;
  top: 55px;
  z-index: 1;
  /* displayed under bubble */
}

.triangle-r {
  position: absolute;
  border-color: transparent transparent transparent #596e01;
  border-style: solid;
  border-width: 15px;
  height: 0px;
  width: 0px;
  right: -30px;
  top: 55px;
  z-index: 1;
  /* displayed under bubble */
}

.triangle-exact {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 80px;
  border-color: transparent transparent transparent #007bff;
}

.t-title:hover {
  transform: scale(1.1, 1.1);
  transform: translate(0, -15px);
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#review {
  position: relative;
  width: 70%;
  height: 600px;
  margin: 0 auto;
}

.circle {
  position: absolute;
  background: gray;
  color: white;
  text-align: center;
}

#re-review {
  width: 250px;
  height: 250px;
  line-height: 250px;
  font-size: 40px;
  top: 20%;
  left: 15%;
  background: #C70000;
}

#im-review {
  width: 400px;
  height: 400px;
  line-height: 400px;
  font-size: 60px;
  top: 20%;
  left: 30%;
  background: #6aa42f;
}

#fa-review {
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 30px;
  top: 10%;
  left: 55%;
  background: #db3615;
}

#ab-review {
  width: 300px;
  height: 300px;
  font-size: 45px;
  line-height: 300px;
  top: 35%;
  left: 60%;
  background: #ffcc33;
}

#plane {
  position: fixed;
  color: #000;
  font-size: 36px;
  z-index: 300;
}

.plane-re {
  position: absolute;
  top: 22%;
  left: 15%;
}

.plane-im {
  position: absolute;
  top: 22%;
  left: 30%;
}

.plane-fa {
  position: absolute;
  top: 12%;
  left: 50%;
}

.plane-ab {
  position: absolute;
  top: 37%;
  left: 60%;
}

#re-review:hover
, #im-review:hover
, #fa-review:hover
, #ab-review:hover {
  z-index: 100;
  transition: 1000ms;
  -moz-animation: shake 0.8s infinite linear;
  -webkit-animation: shake 0.8s infinite linear;
  animation: shake 0.8s infinite linear;
}

#re-review:hover {
  background: #940000;
}

#im-review:hover {
  background: #507c24;
}

#fa-review:hover {
  background: #ac2b11;
}

#ab-review:hover {
  background: #ffbf00;
}

@-moz-keyframes shake {
  0% {
    -moz-transform: translate(2px, 0px) rotate(0deg);
    transform: translate(2px, 0px) rotate(0deg);
  }
  10% {
    -moz-transform: translate(-1px, 0px) rotate(-1deg);
    transform: translate(-1px, 0px) rotate(-1deg);
  }
  20% {
    -moz-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -moz-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  40% {
    -moz-transform: translate(1px, 0px) rotate(1deg);
    transform: translate(1px, 0px) rotate(1deg);
  }
  50% {
    -moz-transform: translate(-1px, 0px) rotate(-1deg);
    transform: translate(-1px, 0px) rotate(-1deg);
  }
  60% {
    -moz-transform: translate(-3px, 0px) rotate(0deg);
    transform: translate(-3px, 0px) rotate(0deg);
  }
  70% {
    -moz-transform: translate(4px, 2px) rotate(-1deg);
    transform: translate(4px, 2px) rotate(-1deg);
  }
  80% {
    -moz-transform: translate(-2px, -2px) rotate(1deg);
    transform: translate(-2px, -2px) rotate(1deg);
  }
  90% {
    -moz-transform: translate(4px, 0px) rotate(0deg);
    transform: translate(4px, 0px) rotate(0deg);
  }
  100% {
    -moz-transform: translate(2px, 0px) rotate(-1deg);
    transform: translate(2px, 0px) rotate(-1deg);
  }
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 0px) rotate(0deg);
    transform: translate(2px, 0px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, 0px) rotate(-1deg);
    transform: translate(-1px, 0px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, 0px) rotate(1deg);
    transform: translate(1px, 0px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 0px) rotate(-1deg);
    transform: translate(-1px, 0px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 0px) rotate(0deg);
    transform: translate(-3px, 0px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(4px, 2px) rotate(-1deg);
    transform: translate(4px, 2px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-2px, -2px) rotate(1deg);
    transform: translate(-2px, -2px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(4px, 0px) rotate(0deg);
    transform: translate(4px, 0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(2px, 0px) rotate(-1deg);
    transform: translate(2px, 0px) rotate(-1deg);
  }
}
@keyframes shake {
  0% {
    -moz-transform: translate(2px, 0px) rotate(0deg);
    -ms-transform: translate(2px, 0px) rotate(0deg);
    -webkit-transform: translate(2px, 0px) rotate(0deg);
    transform: translate(2px, 0px) rotate(0deg);
  }
  10% {
    -moz-transform: translate(-1px, 0px) rotate(-1deg);
    -ms-transform: translate(-1px, 0px) rotate(-1deg);
    -webkit-transform: translate(-1px, 0px) rotate(-1deg);
    transform: translate(-1px, 0px) rotate(-1deg);
  }
  20% {
    -moz-transform: translate(-3px, 0px) rotate(1deg);
    -ms-transform: translate(-3px, 0px) rotate(1deg);
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  40% {
    -moz-transform: translate(1px, 0px) rotate(1deg);
    -ms-transform: translate(1px, 0px) rotate(1deg);
    -webkit-transform: translate(1px, 0px) rotate(1deg);
    transform: translate(1px, 0px) rotate(1deg);
  }
  50% {
    -moz-transform: translate(-1px, 0px) rotate(-1deg);
    -ms-transform: translate(-1px, 0px) rotate(-1deg);
    -webkit-transform: translate(-1px, 0px) rotate(-1deg);
    transform: translate(-1px, 0px) rotate(-1deg);
  }
  60% {
    -moz-transform: translate(-3px, 0px) rotate(0deg);
    -ms-transform: translate(-3px, 0px) rotate(0deg);
    -webkit-transform: translate(-3px, 0px) rotate(0deg);
    transform: translate(-3px, 0px) rotate(0deg);
  }
  70% {
    -moz-transform: translate(4px, 2px) rotate(-1deg);
    -ms-transform: translate(4px, 2px) rotate(-1deg);
    -webkit-transform: translate(4px, 2px) rotate(-1deg);
    transform: translate(4px, 2px) rotate(-1deg);
  }
  80% {
    -moz-transform: translate(-2px, -2px) rotate(1deg);
    -ms-transform: translate(-2px, -2px) rotate(1deg);
    -webkit-transform: translate(-2px, -2px) rotate(1deg);
    transform: translate(-2px, -2px) rotate(1deg);
  }
  90% {
    -moz-transform: translate(4px, 0px) rotate(0deg);
    -ms-transform: translate(4px, 0px) rotate(0deg);
    -webkit-transform: translate(4px, 0px) rotate(0deg);
    transform: translate(4px, 0px) rotate(0deg);
  }
  100% {
    -moz-transform: translate(2px, 0px) rotate(-1deg);
    -ms-transform: translate(2px, 0px) rotate(-1deg);
    -webkit-transform: translate(2px, 0px) rotate(-1deg);
    transform: translate(2px, 0px) rotate(-1deg);
  }
}
/* usage
.item:hover{
    @include animation(shake 0.8s infinite linear);
    @include transform-origin(50% 50%);
}
*/
.big-bar {
  width: 100%;
  background: #2e2e2e;
  height: 150px;
  text-align: center;
}

.big-title {
  width: 100%;
  padding: 60px 20px 60px 20px;
  font-family: "Ubuntu", Helvetica, Tahoma, Arial, sans-serif;
  font-weight: 600;
  font-size: 60px;
  color: white;
}

.little-title {
  padding: 20px 20px;
  font-family: "Ubuntu", Helvetica, Tahoma, Arial, sans-serif;
  font-weight: 550;
  font-size: 26px;
  color: white;
  background: #82a002;
  margin: 0;
}

.think {
  padding: 0;
}
.think a {
  text-decoration: none;
  color: #82a002;
}
.think .explore {
  font-size: 45px;
  margin: 120px 0 0 -50px;
}
.think .explore:hover {
  color: #ff8500;
  font-size: 55px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/**************************************
     google custom search hack
***************************************/
.gsc-search-button,
.gsc-search-button-v2 {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.gsc-control-cse, .gsc-input, .gsc-search-box {
  margin: 0 !important;
  padding: 0 !important;
  max-height: 100% !important;
}

.gsc-search-box, .gsc-control-cse {
  border: 0 !important;
}

table.gsc-search-box td {
  vertical-align: top !important;
  max-height: 100% !important;
}

.gsib_a {
  padding: 0 0 0 6px !important;
}

.gsc-input {
  background-color: transparent !important;
}

.gsc-search-button {
  vertical-align: top !important;
  color: #fff !important;
}

.gsc-search-button, .gsc-search-button-v2 {
  margin-top: -1px !important;
}

.gsc-tabHeader,
.gsc-inline-block,
.gsc-tabhActive,
.gs-snippet,
.gsc-results,
.gsc-webResult {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.gsc-tabHeader
, .gsc-inline-block
, .gsc-tabhActive
, .gs-snippet
, .gsc-results
, .gsc-webResult
, .gsc-tabHeader
, .gsc-inline-block
, .gsc-tabhActive
, .gs-snippet
, .gsc-results
, .gsc-webResult {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.gsc-control-cse {
  font-family: "Ubuntu", Helvetica, Tahoma, Arial, sans-serif !important;
}

input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
  border-color: transparent !important;
  background-color: #db3615 !important;
}

.product-listing.ng-enter,
.product-listing.ng-leave,
.product-listing.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.product-listing.ng-enter,
.product-listing.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.product-listing.ng-move.ng-move-active,
.product-listing.ng-enter.ng-enter-active {
  opacity: 1;
  height: 120px;
}

.product-listing.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.product-listing.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* cross fading between routes with ngView */
.view-container {
  position: relative;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index: 99;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media only screen and (max-width: 767px) {
  .home-banner {
    margin-top: 10px;
  }
}
.home-banner .banner {
  position: relative;
  height: 250px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .home-banner .banner {
    height: 150px;
  }
}

.panel-body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.panel-body .banner1, .panel-body .banner2, .panel-body .banner3 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.panel-body .banner1 {
  background-image: url(../images/banner1.png);
}
.panel-body .banner2 {
  background-image: url(../images/banner2.png);
}
.panel-body .banner3 {
  background-image: url(../images/banner3.png);
}
.panel-body .bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: rgba(215, 139, 44, 0.3);
  /* Here some time problem for Hover than you can use background color/image */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000, endColorstr=#88000000)";
  /* Below IE7 supported */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000, endColorstr=#88000000);
}
@media only screen and (max-width: 767px) {
  .panel-body .bg {
    height: 60px;
  }
}
.panel-body .word {
  position: absolute;
  width: 100%;
  height: 100px;
}
@media only screen and (max-width: 767px) {
  .panel-body .word {
    right: 5px;
    width: 300px;
  }
}
.panel-body h2, .panel-body h3 {
  position: absolute;
  z-index: 3;
  top: 20px;
  left: 60px;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  text-shadow: 3px 3px 6px #000;
  color: #fff;
  font-size: 35px;
}
@media only screen and (max-width: 767px) {
  .panel-body h2, .panel-body h3 {
    right: 10px;
  }
}
.panel-body h2 {
  text-align: left;
}
@media only screen and (max-width: 767px) {
  .panel-body h2 {
    top: 10px;
    left: 10px;
  }
}
.panel-body h3 {
  left: 300px;
  top: 40px;
  z-index: 2;
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
}
@media only screen and (max-width: 767px) {
  .panel-body h3 {
    left: 150px;
    top: 50px;
    width: 120px;
    background-color: #db3615;
    padding: 15px 20px;
    border: 2px rgba(255, 255, 255, 0.2) solid;
    text-shadow: 3px 3px 3px #000;
  }
}
.panel-body .banner1 h3 {
  left: 250px;
}
@media only screen and (max-width: 767px) {
  .panel-body .banner1 h3 {
    left: 150px;
  }
}
.panel-body .banner3 h3 {
  left: 260px;
}
@media only screen and (max-width: 767px) {
  .panel-body .banner3 h3 {
    left: 150px;
    width: 130px;
    padding: 25px 20px;
  }
}

.my-switch-animation.ng-enter,
.my-switch-animation.ng-leave {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position: absolute;
}

.my-switch-animation.ng-enter {
  left: 100%;
}

.my-switch-animation.ng-leave,
.my-switch-animation.ng-enter.ng-enter-active {
  left: 0;
}

.my-switch-animation.ng-leave.ng-leave-active {
  left: -100%;
}

.btn-switch {
  text-align: center;
  height: 20px;
  position: absolute;
  bottom: 15px;
}
.btn-switch ul li {
  position: relative;
  margin-left: 10px;
  width: 10px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  zoom: 1;
  *display: inline;
  height: 10px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: #fff;
  -moz-box-shadow: 1px 1px 2px #999999;
  -webkit-box-shadow: 1px 1px 2px #999999;
  box-shadow: 1px 1px 2px #999999;
  cursor: pointer;
  border: 1px solid #fff;
}
.btn-switch .active {
  background-color: #999;
}

.asia {
  padding: 20px;
}

.brand {
  text-align: center;
}
.brand img {
  display: block;
  max-width: 100%;
  max-height: 60px;
  margin: 10px auto;
}
.brand .table {
  max-width: 100%;
  margin: 20px auto 0;
}
.brand .table td {
  width: 25%;
}

.about {
  padding: 20px;
  background-color: #fcf4ed;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 3px #f7e1ce solid;
}
.about p {
  color: #000;
}
.about b {
  font-weight: 500;
}
.about strong {
  font-weight: 600;
}

.contact {
  padding: 30px 0px 30px 15px;
}
.contact .c {
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .contact {
    margin: 0;
    padding: 5px 0 5px 5px;
    width: 100%;
  }
}
.contact .contact-bar {
  height: 30px;
  width: 100%;
  margin: 3px 0;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .contact .contact-bar {
    margin: 0;
    padding: 0;
  }
}
.contact .fa {
  text-align: center;
  color: #C70000;
}
.contact .content {
  float: left;
  height: 20px;
  line-height: 20px;
  border-left: 2px solid #aaa;
  padding: 0;
  padding-left: 5px;
  margin: 5px 0;
  vertical-align: middle;
}
.contact .content-hour {
  line-height: 25px;
  height: 70px;
}
.contact .content-bar-hour {
  height: 80px;
}
@media only screen and (max-width: 767px) {
  .contact .content-bar-hour {
    height: 120px;
  }
}
.contact .title {
  float: left;
  width: 20px;
}

.front-door {
  width: 100%;
  height: 400px;
  padding: 0;
  margin: 0;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .front-door .front-door-photo-wrap, .front-door .front-door-t {
    float: left;
  }
}
.front-door .front-door-photo-wrap {
  padding: 0;
  position: relative;
  overflow: hidden;
}
.front-door .front-door-photo {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  height: 0;
  max-width: 100%;
  padding-bottom: 65.23%;
}
.front-door .front-door-photo img {
  background-color: white;
  display: none;
  width: 100%;
  border: 1px #fff solid;
}
.front-door .front-door-photo img:first-child {
  display: block;
}
.front-door .front-door-t {
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .front-door .front-door-t {
    width: 100%;
  }
}
.front-door .front-door-t ul.product-thumbs img {
  float: none;
  padding: 1px;
  border: none;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .front-door .front-door-t ul.product-thumbs img {
    float: left;
    width: 33%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  .front-door .front-door-t ul.product-thumbs img {
    float: left;
    width: 33%;
  }
}
.front-door .front-door-t ul.product-thumbs li.active img {
  border: 5px solid #C70000;
  padding: 0;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.front-door .front-door-t ul.product-thumbs img:hover {
  cursor: pointer;
}

table.p-spec, table.p-stdpkg {
  width: 100%;
}
table.p-spec tbody td, table.p-stdpkg tbody td {
  line-height: 25px;
  height: 25px;
  padding-left: 20px;
  color: #000;
}
table.p-spec tbody tr:hover td, table.p-stdpkg tbody tr:hover td {
  background-color: #faefe4;
  color: #000;
}
table.p-spec tbody td:first-child, table.p-stdpkg tbody td:first-child {
  background-color: #f9f9f9;
  font-family: 'Oxygen', sans-serif;
}
table.p-spec tbody tr:first-child td, table.p-stdpkg tbody tr:first-child td {
  background-color: #CC3300;
  color: #fff;
  font-size: 16px;
}

#p-stdpkg table th {
  text-align: left;
  background-color: #CC3300;
  color: #fff;
}

.product-detail #p-spec {
  max-width: 900px;
  margin: 0 auto;
}
.product-detail #product-top-alarm {
  margin-bottom: 30px;
}
@media only screen and (min-width: 1440px) {
  .product-detail #product-top-alarm {
    width: 50%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1439px) {
  .product-detail #product-top-alarm {
    width: 60%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  .product-detail #product-top-alarm {
    width: 70%;
  }
}
@media only screen and (max-width: 767px) {
  .product-detail #product-top-alarm {
    width: 100%;
  }
}
.product-detail #product-top, .product-detail #product-top-alarm {
  margin: 0 auto;
}
.product-detail h1 {
  height: auto;
  margin-left: 0;
  margin-right: 0;
  line-height: 80px;
  border-bottom: 10px solid #C70000;
}
@media only screen and (min-width: 992px) and (max-width: 1439px) {
  .product-detail h1 {
    line-height: 50px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  .product-detail h1 {
    line-height: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .product-detail h1 {
    line-height: 40px;
  }
}
.product-detail .product-desc {
  margin-bottom: 30px;
}
.product-detail .fa-ul ul li {
  height: 25px;
  line-height: 25px;
}
.product-detail ul.product-thumbs {
  margin: 0;
  list-style: none;
}
.product-detail ul.product-thumbs li {
  border: 1px solid #ccc;
  display: inline-block;
  margin: 1px;
  background-color: white;
}
.product-detail ul.product-thumbs img {
  width: 90px;
  opacity: 0.5;
}
.product-detail ul.product-thumbs img.t-fade {
  opacity: 0;
}
.product-detail ul.product-thumbs li.active img {
  opacity: 1;
}
.product-detail ul.product-thumbs img:hover {
  cursor: pointer;
  opacity: 1;
}
.product-detail .product-images {
  position: relative;
  overflow: hidden;
  height: 284px;
}
@media only screen and (max-width: 767px) {
  .product-detail .product-images {
    height: auto;
  }
}
.product-detail .product-images img {
  background-color: white;
  width: 100%;
  height: auto;
  max-height: 100%;
  display: none;
}
@media only screen and (max-width: 767px) {
  .product-detail .product-images img {
    margin: 0;
    padding: 0;
  }
}
.product-detail .product-images img:first-child {
  display: block;
}
.product-detail .alarm-images {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 400px;
}
@media only screen and (max-width: 767px) {
  .product-detail .alarm-images {
    height: auto;
  }
}
.product-detail .alarm-images img {
  background-color: white;
  max-width: 100%;
  display: block;
  height: auto;
  max-height: 100%;
  display: none;
}
@media only screen and (max-width: 767px) {
  .product-detail .alarm-images img {
    margin: 0;
    padding: 0;
  }
}
.product-detail .alarm-images img:first-child {
  display: block;
}
.product-detail .p-desc-detail {
  margin: 0px;
}

.tabs {
  padding: 20px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px;
}

.nav-tabs {
  margin-bottom: 0;
}

.download-tbl {
  margin: 0 auto;
  max-width: 900px;
}

.alarm-tbl {
  height: auto;
}

.download-tbl .table th {
  text-align: left;
  background-color: #CC3300;
  color: #fff;
}
.download-tbl tbody td:first-child {
  background-color: #f9f9f9;
  font-family: 'Oxygen', sans-serif;
}
.download-tbl tbody tr:hover td {
  background-color: #f7e1ce;
  color: #000;
}
.download-tbl .table th {
  line-height: 25px;
  height: 25px;
  border-bottom: 5px solid #ccc;
}
.download-tbl .table th.sort-desc, .download-tbl .table th.sort-asc {
  background-color: #E0914C;
  border-bottom: 5px solid #C70000;
}

#header {
  position: fixed;
  width: 100%;
  background: #fff;
  height: 120px;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 9999;
}
#header .banner {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  background-image: url("../images/logo-03.png");
  background-size: 140px 48px;
  background-position: 0px 18px;
  background-repeat: no-repeat;
  height: 80px;
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  #header .banner {
    background-size: 70px 24px;
    background-position: 0px 10px;
  }
}
#header .banner h1 {
  display: block;
  position: absolute;
  width: 370px;
  top: 20px;
  left: 140px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 45px;
  line-height: 45px;
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  #header .banner h1 {
    top: 0px;
    left: 60px;
    font-size: 30px;
    line-height: 30px;
  }
}
#header .banner p {
  position: absolute;
  top: 20px;
  right: 0px;
  font-size: 14px;
  line-height: 14px;
  font-family: 'Ubuntu', sans-serif;
}
@media only screen and (max-width: 767px) {
  #header .banner p {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  #header .banner p {
    display: none;
  }
}
#header .banner .bar {
  display: none;
}
#header .banner .search {
  position: absolute;
  top: 40px;
  right: 0px;
  padding: 0;
  max-width: 600px;
}
@media only screen and (min-width: 992px) and (max-width: 1439px) {
  #header .banner .search {
    width: 400px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  #header .banner .search {
    width: 100%;
    max-width: none;
  }
}
#header #XX {
  display: none;
}
#header .cctv-nav {
  position: absolute;
  z-index: 9999;
  max-width: 1200px;
  margin: 0 auto;
}
#header .cctv-nav .fa {
  display: block;
  position: absolute;
  right: 10px;
  top: 25%;
}
#header .cctv-nav .caret {
  margin-left: 5px;
}
#header .cctv-nav ul {
  margin: 0;
  padding: 0;
}
#header .cctv-nav ul li {
  width: 140px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  zoom: 1;
  *display: inline;
  position: relative;
  margin: 0;
  padding: 0;
}
#header .cctv-nav > ul > li:first-child {
  border-left: 1px #555 solid;
  margin-left: 0;
}
#header .cctv-nav > ul > li {
  margin-left: -3px;
  border-right: 1px #555 solid;
}
#header .cctv-nav .parent {
  color: #fefefe;
  text-align: center;
  height: 45px;
  line-height: 45px;
}
#header .cctv-nav ul li a {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fefefe;
  text-align: center;
}
#header .cctv-nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  width: 160px;
  background: #fff;
  border: 1px solid #999;
}
#header .cctv-nav ul ul li {
  width: 100%;
}
#header .cctv-nav ul > li > a:hover
, #header .cctv-nav ul > li > a:focus {
  background-color: #e5e5e5;
  color: #000;
}
#header .cctv-nav > ul > li > a:hover
, #header .cctv-nav > ul > li > a:focus
, #header .cctv-nav .active
, #header .cctv-nav .parent:hover
, #header .cctv-nav .parent:focus {
  background-color: #CC3300;
  color: #fff;
  text-decoration: none;
}
#header .cctv-nav ul ul li a {
  display: block;
  width: 100%;
  height: 30px;
  padding: 0 0 0 15px;
  line-height: 30px;
  margin: 0;
  text-align: left;
  color: #666;
}
#header .cctv-nav ul ul ul {
  top: 0;
  color: #666;
  left: 100%;
}
#header .cctv-nav ul ul ul li {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  text-align: center;
}
#header .cctv-nav ul ul ul li a {
  display: block;
  color: #666;
}
#header .cctv-nav ul ul ul li a:hover, #header .cctv-nav ul ul ul li a:focus, #header .cctv-nav ul ul ul li a:active {
  color: #000;
}
#header .cctv-nav ul li:hover > ul {
  display: block;
}
#header .myheader {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 80px;
  background-color: #000;
}

@media only screen and (max-width: 767px) {
  #header {
    height: 60px;
  }
  #header .banner {
    background-size: 65px 22px;
    background-position: 0px 8px;
  }
  #header .banner h1 {
    top: 4px;
    left: 55px;
    font-size: 20px;
    line-height: 20px;
  }
  #header .banner p {
    display: none;
  }
  #header .banner .bar {
    display: block;
    position: absolute;
    top: 5px;
    right: 0px;
    color: #CC3300;
    cursor: pointer;
  }
  #header .banner .search {
    width: 100%;
    max-width: none;
  }
  #header .cctv-nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 888;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
  }
  #header .cctv-nav #XX {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: 5px;
    top: 0px;
    z-index: 9999;
    cursor: pointer;
    color: #fff;
  }
  #header .cctv-nav #XX :hover {
    text-shadow: 3px 3px 8px black;
  }
  #header .cctv-nav ul.dropdown-menu {
    background-color: #992600;
    background-image: none;
    border: none;
  }
  #header .cctv-nav ul.dropdown-menu .fa {
    display: none;
  }
  #header .cctv-nav ul.dropdown-menu > li {
    border-image: none;
    border: none;
    margin-top: -1px;
  }
  #header .cctv-nav ul.dropdown-menu > li > a {
    border-image: none;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    border: 1px #992600 solid;
    color: #fff;
    background-color: #b32d00;
    -moz-box-shadow: 3px 3px 8px black;
    -webkit-box-shadow: 3px 3px 8px black;
    box-shadow: 3px 3px 8px black;
  }
  #header .cctv-nav ul.dropdown-menu > li > :hover, #header .cctv-nav ul.dropdown-menu > li > :focus {
    border-image-width: 0;
    color: #fff;
    background-image: none;
    border: none;
    background-color: #CC3300;
    -moz-box-shadow: 3px 3px 10px #802000 inset;
    -webkit-box-shadow: 3px 3px 10px #802000 inset;
    box-shadow: 3px 3px 10px #802000 inset;
  }
  #header .cctv-nav ul ul li:hover > ul {
    display: none;
  }
  #header .cctv-nav > ul {
    width: 260px;
    height: 260px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -130px;
    margin-top: -130px;
  }
  #header .cctv-nav > ul > li {
    width: 100%;
    float: none;
  }
  #header .cctv-nav .parent {
    width: 100%;
    line-height: 50px;
    background-color: #000;
    border: 1px solid #333;
    color: #FFF;
  }
  #header .cctv-nav > ul > li a {
    display: block;
    width: 100%;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    border: 1px solid #333;
    color: #FFF;
  }
  #header .cctv-nav > ul > li a:hover {
    border: 1px solid #333;
  }
  #header .myheader {
    display: none;
  }
}
#footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 80px;
  background: #2e2e2e;
  font-family: "Ubuntu", Helvetica, Tahoma, Arial, sans-serif;
  font-size: 16px;
}
#footer .footer {
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  max-width: 1200px;
}
#footer .footer_menu {
  width: 300px;
  margin: 0 auto;
}
#footer .footer_menu ul li {
  color: #fff;
  width: 72px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  zoom: 1;
  *display: inline;
}
#footer .footer_menu a {
  display: block;
  width: 100%;
  color: #aaa;
  line-height: 40px;
  text-align: center;
}
#footer .footer_menu a:hover {
  color: #fff;
  -moz-box-shadow: #000 0 0 3px 1px inset;
  -webkit-box-shadow: #000 0 0 3px 1px inset;
  box-shadow: #000 0 0 3px 1px inset;
  font-weight: normal;
}
#footer .copyright {
  text-align: center;
  color: #ccc;
}
@media only screen and (max-width: 767px) {
  #footer .copyright {
    margin-top: -5px;
    line-height: 20px;
    font-size: 11px;
  }
}
