<div class="container">
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="/index.html">Home</a></li>
            <li class="active">About Us</li>
        </ol>
        <h1 class="page-header">About Us
            <small>Provide friendly services and reliable support</small>
        </h1>
    </div>
    <div class="col-sm-9">
        <div class="about">
        <p>At <span class="text_logo"><strong>Hi-Tech Digital CCTV</strong></span>, our aim is to provide you with <b>professional</b> advice through our <b>experience</b> to satisfy all your security surveillance needs through our <b>friendly services</b>. We will only provide you with products of the highest <b>quality</b> for your surveillance soultion and will continue to provide an ongoing <b>reliable</b> support.
        </p>
        <p>Our products are predominantly Made in Taiwan and Made in Korea to ensure the best of its <b>quality</b> while still maintaining an <b>affordable</b> price.</p>
        <p>To meet all your needs, we endeavour to <b>explain</b> all the functions and features of our products until you <b>understand</b> them <b>clearly</b> before you make any decisions. We will continue to provide <b>friendly</b> services and <b>reliable</b> support to our customers to ensure the best results can be obtained from our products.</p>
        </div>
    </div>
    <div class="col-sm-3">
      <img class="img-responsive asia center" src="images/ASIALmemberjpeg_hires.jpg">
    </div>
    <div class="col-sm-12">
        <h1 class="page-header">Brands We Carry
        </h1>
    </div>

    <div class="col-sm-12 brand">
        <p class="note">These logos are all copyright of their respective owners.</p>
        <table class="table borderless">
            <tr><td><img class="img-responsive" src="images/brands/bosch.jpg"></td>
                <td><img class="img-responsive" src="images/brands/DigiGuard.jpg"></td>
                <td><img class="img-responsive" src="images/brands/everfocus.png"></td>
                <td><img class="img-responsive" src="images/brands/futuro.png"></td>
            </tr>
            <tr><td><img class="img-responsive" src="images/brands/honeywell.gif"></td>
                <td><img class="img-responsive" src="images/brands/hikvision.png"></td>
                <td><img class="img-responsive" src="images/brands/Haakili.jpg"></td>
                <td><img class="img-responsive" src="images/brands/icatch.png"></td>
            </tr>
            <tr>
               <td><img class="img-responsive" src="images/brands/kce.gif"></td>
               <td><img class="img-responsive" src="images/brands/secuzone.png"></td>
               <td><img class="img-responsive" src="images/brands/asmsung_l.jpg"></td>
               <td><img class="img-responsive" src="images/brands/unimo.jpg"></td>
            </tr>
        </table>

    </div>
</div>
</div>

