  <div class="products" >
    <div class="dvr-list table-responsive" ng-controller="listCtrl">
      <table class="table table-striped" at-table at-paginated at-list="filteredList" at-config="config">
        <thead>
          <tr>
            <th width="150" at-attribute="imageUrl">&nbsp</th>
            <th at-attribute="brand">Brand</th>
            <th at-attribute="type">System</th>
            <th width="120" at-attribute="name" >Name</th>
            <th at-attribute="sensor" >Sensor</th>
            <th at-attribute="resolution" >Resolution</th>
            <th at-attribute="lens" >Lens</th>
            <th at-attribute="ir" >IR</th>
            <th at-attribute="feature" >Feature</th>
            <th at-attribute="io" >Indoor<br>Outdoor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td at-img at-attribute="imageUrl" at-state="cctv" class="list-img-td"></td>
            <td at-implicit at-sortable at-attribute="brand"  at-initial-sorting="asc"></td>
            <td at-implicit at-sortable at-attribute="type" at-initial-sorting="asc"></td>
            <td at-implicit at-sortable at-attribute="name" at-initial-sorting="asc"></td>
            <td at-implicit at-sortable at-attribute="sensor"  at-initial-sorting="asc"></td>
            <td at-implicit at-sortable at-attribute="resolution" at-initial-sorting="asc"></td>
            <td at-implicit at-sortable at-attribute="lens" at-initial-sorting="asc"></td>
            <td at-implicit at-sortable at-attribute="ir"  at-initial-sorting="asc"></td>
            <td at-implicit at-sortable at-attribute="feature" at-initial-sorting="asc"></td>
            <td at-implicit at-sortable at-attribute="io" at-initial-sorting="asc"></td>
          </tr>
        </tbody>
      </table>
      <at-pagination at-list="filteredList" at-config="config"></at-pagination>
    </div>
  </div>
<script>
/*
  $(function() {
    $('.dvr-list i.glyphicon-chevron-up').parent("th").css( "background-color", "#62CAE3");
    $('.dvr-list i.glyphicon-chevron-up').parent("th").css( "border-bottom-color", "#62CAE3");
    $('.dvr-list i.glyphicon-chevron-down').parent("th").css( "background-color", "#62CAE3");
    $('.dvr-list i.glyphicon-chevron-down').parent("th").css( "border-bottom-color", "#62CAE3");
  });
*/
</script>





