<div ng-controller="ProductListCtrlSide">
  <div class="col-sm-12 cat">
    <!--Sidebar content-->
    <ul ><li>Brand:
        <ul><li><a ui-sref="products.nvr({ nvrId: 0 , t:''})">
            All &nbsp; ({{share.products.length}})</a></li>
          <li><a ui-sref="products.nvr({ nvrId: 0 , t:'DigiGuard' })">
            DigiGuard &nbsp; ({{(share.products | filter:{brand:'DigiGuard'}).length}})</a></li>
          <li><a ui-sref="products.nvr({ nvrId: 0 , t:'Honeywell' })">
            Honeywell &nbsp; ({{(share.products | filter:{brand:'Honeywell'}).length}})</a></li>
          <li><a ui-sref="products.nvr({ nvrId: 0, t:'Samsung'  })">
            Samsung &nbsp; ({{(share.products | filter:{brand:'Samsung'}).length}})</a></li>
       </ul>
    </ul>
</div>



