<div ng-controller="ProductListCtrl">
<div class="row">
  <div class="col-md-2">
    <!--Sidebar content-->

    Search: <input ng-model="query">
    Sort by:
    <select ng-model="orderProp">
      <option value="name">Alphabetical</option>
      <option value="age">Newest</option>
    </select>

  </div>
  <div class="col-md-10">
    <!--Body content-->

    <ul class="products">
      <li ng-repeat="product in products | filter:query | orderBy:orderProp" class="thumbnail">
        <a href="#/products/{{product.id}}" class="thumb"><img ng-src="{{product.imageUrl}}"></a>
        <a href="#/products/{{product.id}}?scrollTo=product-top">{{product.name}}</a>
        <p>{{product.snippet}}</p>
      </li>
    </ul>

  </div>
</div>
</div>

